

<!-- <h1>LANDING PAGE!!!</h1>

<p>welcome to landing page!!</p>

<a href="/campgrounds">view all campgrounds</a> -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>POSITIVE</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
			body {
			  background:url(https://images.unsplash.com/photo-1559666126-84f389727b9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60););
			  animation: chbg 15s infinite alternate;
			  background-size:cover
			}
			@keyframes chbg {
			  0% {
				background:url(https://images.unsplash.com/photo-1569191086551-b3606745884f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
			  background-size:cover
			  }
			  20% {
				background:url(https://images.unsplash.com/photo-1569402604464-6f466a53141e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
			  background-size:cover
			  }
			  40% {
				background:url(https://images.unsplash.com/photo-1569252376476-f252109a526d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
			  background-size:cover
			  }
			  60% {
				background:url(https://images.unsplash.com/photo-1569173784625-34f37a1a35ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
			  background-size:cover
			  }
			  80% {
				background:url(https://images.unsplash.com/photo-1568473648251-3a0c3aa56192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
			  background-size:cover
			  }
			  100% {
				background:url(https://images.unsplash.com/photo-1512229146678-994d3f1e31bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
			  background-size:cover
			  }
			}

			h1,h3{
				color:white;
			}
			h1{
				font-weight: 700;
				font-size: 5em;
			}
			#content{
				text-align: center;
				padding-top: 25%;
				text-shadow: 0px 4px 3px red,
							 0px 8px 13px orange,
							 0px 18px 23px yellow;
			}
			html{
				height: 100%;
			}
			hr{
				width: 400px;
				border-top:1px solid #f8f8f8;
				border-bottom: 1px solid rgba(0,0,0,0.2);
			}
	</style>
</head>


<body>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1>DREAM BIG</h1>
					<h3>The Only Positivity Increasing App</h3>
					<hr>
					<!-- <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Get Started!</button> -->
					<a type="submit" class="btn btn-default btn-lg" href="/campgrounds">GET STARTED</a>	
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
	
</html>